body{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background-color: lightgray;
	word-wrap: break-word;
}

h2{
	font-weight: bold;
}

.class{
	height: 100px;
	width: 100%;
	min-width: 190px;
	border-radius: 10px;
	font-size: 30px;
	font-family: arial;
	text-indent: 15%;
	line-height: 100px;
	background-color: #3385D6;
	color: white;
	box-shadow: 2px 2px 2px #888888;
	margin-bottom: 25px;
}

.buttons{
	height: 80%;
	width: 80%;
	min-width: 400px;
}

.largeTable{
	height: 100%;
	width: 100%;
}

.well {
	min-height: 30px;
	height: 100px;
	padding: 27px;
	padding-top: 19px;
  	padding-left: 35px;
	border-radius: 10px;
	font-size: 30px;
	font-family: arial;
	background-color: white;
	color: #3385D6;
	border: 0px;
	box-shadow: 2px 2px 2px #888888;
	overflow-y: hidden;
}

.well:hover {
	background-color: #DDEEFF;
	cursor: pointer;
	cursor: hand;
}

.trash{
	font-size: 20px;
	position: relative;
	float: right;
	color: #3385D6;
}

.trash:hover{
	color: navy;
	cursor: pointer;
	cursor: hand;
}

.edit{
	font-size: 20px;
	position: relative;
	float: right;
	margin-right: 8px;
	color: #3385D6;
}

.edit:hover{
	color: navy;
	cursor: pointer;
	cursor: hand;
}

.plus{
	font-size: 50px;
	position: fixed;
	right: 100px;
	bottom: 30px;
	color: black;
}

.plus:hover{
	color: #5E5E5E;
	cursor: pointer;
	cursor: hand;
}

.modal {
	outline: none;
	position: absolute;
	margin-top: 0;
	top: 20%;
	overflow: visible;
}