body{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background-color: lightGray;
}

.class{
	height: 100px;
	width: 85%;
	min-width: 190px;
	border-radius: 10px;
	font-size: 30px;
	font-family: arial;
	text-indent: 15%;
	line-height: 100px;
	background-color: #3385D6;
	color: white;
	box-shadow: 2px 2px 2px #888888;
	margin-bottom: 25px;
}

.buttons{
	height: 80%;
	width: 80%;
	min-width: 400px;
}

.largeTable{
	height: 100%;
	width: 100%;
}

.right{
	position: absolute;
	margin-left: 75%;
	margin-top: 15%;
	}

.trash{
	height: 40px;
	width: 40px;
	position: relative;
	float: right;
	padding: 10px;
}