body{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background-color: lightgray;
	word-wrap: break-word;
}

.question {
	border: 10px;
	width: 100%;
	height: 100%;
	margin: 5px;
	padding: 10px;
	outline:none;
}

.answer {
	border: 10px;
	width: 100%;
	height: 100%;
	margin: 5px;
	padding: 10px;
	outline:none;
}

.glyphicon-remove{
	float: right;
	color: red;
}

.glyphicon-ok{
	color: green;
}

.glyphicon-trash{
	float: right;
}

.question-td {
	margin: 0px;
	padding: 0px;
}

.question-tr {
	margin: 0px;
	padding: 0px;
}

.answer-td {
	margin: 0px;
	padding: 0px;
}

.answer-tr {
	margin: 0px;
	padding: 0px;
}