.question {
	border: none;
	width: 100%;
	height: 100%;
	margin: 5px;
	padding: 0px;
	outline:none;
}

.answer {
	border: none;
	width: 100%;
	height: 100%;
	margin: 5px;
	padding: 0px;
	outline:none;
}

.question-td {
	margin: 0px;
	padding: 0px;
}

.question-tr {
	margin: 0px;
	padding: 0px;
}

.answer-td {
	margin: 0px;
	padding: 0px;
}

.answer-tr {
	margin: 0px;
	padding: 0px;
}