body{
	background-color: lightgray;
	word-wrap: break-word;
}

#title.well {
	min-height: 30px;
	height: 150px;
	padding: 27px;
	padding-top: 10px;
  	padding-left: 35px;
	border-radius: 10px;
	font-size: 30px;
	font-family: arial;
	background-color: #3385D6;
	color: white;
	border: 0px;
	box-shadow: 2px 2px 2px #888888;
	overflow-y: hidden;
}

.mid{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.quest{
	padding-bottom: 15px;
	font-family: arial;
	font-size: 15px;
	border-radius: 10px;
	border: 5px;
	box-shadow: 2px 2px 2px #888888;
}

.round{
	background-color: orange;
	border-radius: 10px;
	border: 5px;
	box-shadow: 2px 2px 2px #888888;
}

.section{
	padding-bottom: 50px;
	height: auto;
}

.question {
	border: 10px;
	width: 100%;
	height: 100%;
	margin: 5px;
	padding: 10px;
	outline:none;
}

.answer {
	border: 10px;
	width: 100%;
	height: 100%;
	margin: 5px;
	padding: 10px;
	outline:none;
}

.glyphicon-trash{
	float: right;
}

.glyphicon-trash:hover{
	opacity: .5;
}

.glyphicon-edit{
	float: left;
}

.glyphicon-edit:hover{
	opacity: .5;
}

.question-td {
	margin: 0px;
	padding: 0px;
}

.question-tr {
	margin: 0px;
	padding: 0px;
}

.answer-td {
	margin: 0px;
	padding: 0px;
}

.answer-tr {
	margin: 0px;
	padding: 0px;
}

.question-td-sent {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.answer-td-sent {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}