body{
	background-color: #E8E8E8;
	word-wrap: break-word;
}

#title.well {
	min-height: 30px;
	height: 140px;
	padding-bottom: 10px;
	padding-top: 10px;
  	padding-left: 35px;
  	padding-right: 35px;
	border-radius: 10px;
	font-size: 30px;
	font-family: arial;
	background-color: #3385D6;
	color: white;
	border: 0px;
	margin-bottom: 0px;
	/*box-shadow: 2px 2px 2px #888888;*/
	overflow-y: hidden;
}

#main-container{
	padding-top: 60px;
}

.scrollable{
	overflow: scroll;
    height: calc(100% - 150px);
    border-radius: 5px;
    /*border: solid 2px white;*/
    padding: 10px;
    padding-bottom: 0px;
    background-color: #E8E8E8;
}


.btn{
	color: #3385D6;
}

.btn:hover{
	color: navy;
}

.mid{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.quest{
	padding-bottom: 15px;
	margin-bottom: 15px;
	font-family: arial;
	font-size: 15px;
	border-radius: 10px;
	border: 5px;
	box-shadow: 2px 2px 2px #888888;
}

.round{
	background-color: orange;
	border-radius: 10px;
	border: 5px;
	box-shadow: 2px 2px 2px #888888;
}

.section{
	padding: 2px;
	padding-bottom: 0px;
	height: auto;
	background-color: #3385D6;
	border-radius: 10px;
	margin: 20px;
	margin-top: 10px;
	height: calc(100vh - 95px);
}

@media (min-width: 992px){
.col-md-6 {
  width: 45%;
	}
}

.question {
	border: 10px;
	width: 100%;
	height: 100%;
	margin: 5px;
	padding: 10px;
	outline:none;
}

.answer {
	border: 10px;
	width: 100%;
	height: 100%;
	margin: 5px;
	padding: 10px;
	outline:none;
}

/*.glyphicon-trash{
	float: right;
}*/

/*.glyphicon-trash:hover{
	opacity: .5;
}*/

/*.glyphicon-edit{
	float: left;
}*/

/*.glyphicon-edit:hover{
	opacity: .5;
}*/

.question-td {
	margin: 0px;
	padding: 0px;
}

.question-tr {
	margin: 0px;
	padding: 0px;
}

.answer-td {
	margin: 0px;
	padding: 0px;
}

.answer-tr {
	margin: 0px;
	padding: 0px;
}

.question-td-sent {
	/*padding-top: 15px !important;*/
	padding-bottom: 15px !important;
}

.question-content {
	padding-bottom: 15px !important;
}

.answer-td-sent {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.answer-td-save {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.content-left {
	border-right: 1px solid lightgray;
}

/*.saved-question:hover {
     opacity: 0.5;
}*/

.sent-icon {
	float:right;
	padding:5px;
}

.trash {
	font-size: 20px;
	position: relative;
	float: right;
	color: #3385D6;
	padding-left: 5px;
}

.trash:hover {
	color: navy;
	cursor: pointer;
	cursor: hand;
}

.edit, .sendButton {
	font-size: 20px;
	position: relative;
	float: left;
	color: #3385D6;
	/*padding-left: 5px;*/
}

.edit:hover, .sendButton:hover {
	color: navy;
	cursor: pointer;
	cursor: hand;
}

.hide-eye {
	font-size: 20px;
	position: relative;
	float: left;
	margin-right: 8px;
	color: #3385D6;
}

.hide-eye:hover {
	color: navy;
	cursor: pointer;
	cursor: hand;
}

/*.plus {
	color: #3385D6;
	z-index: 20;
}

.plus:hover {
	cursor: pointer;
	color: navy;
}

.minus {
	color: #3385D6;
	z-index: 20;
}

.minus:hover {
	cursor: pointer;
	color: navy;
}*/

.add-remove-answer {
	float: left;
	margin-bottom: 15px;
	margin-left: 30px;
}

.modal {
	outline: none;
	position: absolute;
	margin-top: 0;
	top: 20%;
	overflow: visible;
}
