{{#each content}}
	{{#countEven @index}}
		<td class='answer-content content-left' style='width:50%'> {{ this }} </td>
	{{/countEven}}
	{{#countOdd @index}}
		<td class='answer-content content-right' style='width:50%'> {{ this }} </td>
	{{/countOdd}}
{{/each}}