<div class='addQuestion quest' style="background-color:white">
	<div class="row">
	  <div class="col-lg-12" style="padding-top:15px">
	    <div class="input-group mid well" style="padding-top:10px;padding-bottom:10px;height:40px">
	      <input id="question" type="text" placeholder="Enter Question..." class="form-control" aria-label="...">
	    </div>
	  </div>
	  <div class="col-lg-12">
	    <div class="input-group mid">
	      <span class="input-group-addon">
	        <input type="checkbox" class="check" aria-label="...">
	      </span>
	      <input type="text" class="form-control answer-form" placeholder="Answer..." aria-label="...">
	    </div>
	  </div>
	  <div class="col-lg-12">
	    <div class="input-group mid">
	      <span class="input-group-addon">
	        <input type="checkbox" class="check" aria-label="...">
	      </span>
	      <input type="text" class="form-control answer-form" placeholder="Answer..." aria-label="...">
	    </div>
	  </div>
	  <div class="col-lg-12">
	    <div class="input-group mid">
	      <span class="input-group-addon">
	        <input type="checkbox" class="check" aria-label="...">
	      </span>
	      <input type="text" class="form-control answer-form" placeholder="Answer..." aria-label="...">
	    </div>
	  </div>
	  <div class="col-lg-12">
	    <div class="input-group mid">
	      <span class="input-group-addon">
	        <input type="checkbox" class="check" aria-label="...">
	      </span>
	      <input type="text" class="form-control answer-form" placeholder="Answer..." aria-label="...">
	    </div>
	  </div>
	</div>
	<div class='save-send'>
	    <br>
		<button class='btn btn-default' id='save'>Save</button>
		<button class='btn btn-default' id='send'>Send</button>
	</div>
</div>