<div class='addQuestion'>
	<table class='table table-bordered table-condensed'>
		<tr class='question-tr'>
			<td class='question-td' colspan='2'>
				<textarea rows='3' class='question' placeholder='Type question...'></textarea>
			</td>
		</tr>
		<tr class='answer-tr'>
			<td class='answer-td'>
				<textarea rows='2' class='answer' placeholder='Answer...'></textarea>
			</td>
			<td class='answer-td'>
				<textarea rows='2' class='answer' placeholder='Answer...'></textarea>
			</td>
		</tr>
		<tr class='answer-tr'>
			<td class='answer-td'>
				<textarea rows='2' class='answer' placeholder='Answer...'></textarea>
			</td>
			<td class='answer-td'>
				<textarea rows='2' class='answer' placeholder='Answer...'></textarea>
			</td>
		</tr>
	</table>
	<div class='save-send'>
		<button class='btn btn-default' id='send'>Send</button>
		<button class='btn btn-default' id='save'>Save</button>
	</div>
</div>