<div class='addQuestion quest' style='background-color:white'>
	<table class='table table-bordered table-condensed'>
		<tr class='question-tr'>
			<td class='question-td' colspan='2'>
			<span>
				<span class="glyphicon glyphicon-trash"></span>
			</span>
			<textarea rows='3' class='question' placeholder='Type question...'></textarea>
			</td>
		</tr>
		<tr class='answer-tr'>
			<td class='answer-td'>
			    <span>
					<span class="glyphicon glyphicon-ok"></span> 
					<span class="glyphicon glyphicon-remove"></span>
				</span>
				<textarea rows='2' class='answer' placeholder='Answer...'></textarea>
			</td>
			<td class='answer-td'>
				<span>
					<span class="glyphicon glyphicon-ok"></span> 
					<span class="glyphicon glyphicon-remove"></span>
				</span>
				<textarea rows='2' class='answer' placeholder='Answer...'></textarea>
			</td>
		</tr>
		<tr class='answer-tr'>
			<td class='answer-td'>
				<span>
					<span class="glyphicon glyphicon-ok"></span> 
					<span class="glyphicon glyphicon-remove"></span>
				</span>
				<textarea rows='2' class='answer' placeholder='Answer...'></textarea>
			</td>
			<td class='answer-td'>
				<span>
					<span class="glyphicon glyphicon-ok"></span> 
					<span class="glyphicon glyphicon-remove"></span>
				</span>
				<textarea rows='2' class='answer' placeholder='Answer...'></textarea>
			</td>
		</tr>
	</table>
	<div class='save-send'>
		</br>
		<button class='btn btn-default' id='save'>Save</button>
		<button class='btn btn-default' id='send'>Send</button>
	</div>
</div>