{{#each content}}
	<div class="col-lg-12">
		<div class="input-group mid">
			<span class="input-group-addon">
			<input type="checkbox" class="check" aria-label="...">
			</span>
			<input type="text" class="form-control answer-form" aria-label="..." value="{{ this }}">
		</div>
	</div>
{{/each}}