{{#each content}}
	<div class="col-lg-12 answer-textbox">
		<div class="input-group mid">
			<input type="text" class="form-control answer-form" aria-label="..." value="{{ this }}">
		</div>
	</div>
{{/each}}