<div class='addQuestion quest saved-question' style='background-color:white;padding-bottom:0px;'>
	<p class='edit'>
		<span class="glyphicon glyphicon-edit sent-icon" ></span>
	</p>
	<p class='trash'>
		<span class="glyphicon glyphicon-trash sent-icon" ></span>
	</p>
	<table class='table table-condensed {{ this }}' style="table-layout:fixed">
		<tr class='saved-question-tr' id='{{ this }}'>
		</tr>
		
	</table>
	<div class='answer-single-send' style="padding-top:20px">
		<div class='answer-td-save' colspan="2">
			<div class="sendButton">
				<button class='btn btn-default'><span class="glyphicon glyphicon-send" style="margin-top:3px;padding-right:2px;"></span> Share</button>
			</div>
		</div>
	</div>


</div>

