<div class='addQuestion quest saved-question' style='background-color:white;padding-bottom:0px;'>
	
	<span class="glyphicon glyphicon-edit" style="visible:hidden"></span>
	<span class="glyphicon glyphicon-trash" style="visible:hidden"></span>

	<table class='table table-condensed' style="table-layout:fixed">
		<tr class='saved-question-tr' id='{{ this }}'>
		</tr>
		<tr class='saved-answer-tr-1-{{ this }}'>
		</tr>
		<tr class='saved-answer-tr-2-{{ this }}'>
		</tr>
	</table>


</div>

