<div class='addQuestion quest saved-question' style='background-color:white;padding-bottom:0px;'>
	<p class='sendButton'>
		<span class="glyphicon glyphicon-send sent-icon" ></span>
	</p>
	<p class='edit'>
		<span class="glyphicon glyphicon-edit sent-icon" ></span>
	</p>
	<p class='trash'>
		<span class="glyphicon glyphicon-trash sent-icon" ></span>
	</p>
	<table class='table table-condensed {{ this }}' style="table-layout:fixed">
		<tr class='saved-question-tr' id='{{ this }}'>
		</tr>
		
	</table>

</div>

