<div class='addQuestion quest' style="background-color:white">
	<div class="row add-question">
	  
	</div>
	<div class='save-send' style="height:55px;">
	    <br>
		<button class='btn btn-default' id='save' style="margin-left:12px;float:left;vertical-align:top;"><span class="glyphicon glyphicon-floppy-disk" style="padding-right:2px;"></span> Save</button>
		<button class='btn btn-default' id='send' style="margin-left:5px;float:left;vertical-align:top;"><span class="glyphicon glyphicon-send" style="padding-right:2px;"></span> Share</button><button class='btn btn-default' id='cancel' style="margin-right:12px;float:right;vertical-align:top;"><span class="glyphicon glyphicon-remove" style="padding-right:2px;"></span> Cancel</button>
	</div>
</div>