<div class="well">
	<input type="hidden" class="hiddenName" value="{{name}}">
	<input type="text" class="form-control answer-form focusQuestion" onfocus="this.value = this.value;" value="{{name}}"" aria-label="...">
	<button type='button' class='btn btn-default addNew saveLec' style="margin-top:10px"><span class="glyphicon glyphicon-floppy-disk" style="padding-right:2px;"></span> Save</button>
    <button type='button' class='btn btn-default addNew cancelLec' style="float:right; margin-top:10px"><span class="glyphicon glyphicon-remove" style="float:left;padding-right:4px; padding-top:2px"></span> Cancel</button>
</div>