<a href="question.ejs" style="text-decoration:none">
	<div class="well nonEdit">
		<p class="trash"><span class="glyphicon glyphicon-trash"></span></p>
		<p class="editLec"><span class="glyphicon glyphicon-edit"></span></p>
		<h2 class="className">{{name}}</h2>
	</div>
</a>