<div class="col-lg-12" style="padding-top:15px">
	<div class="input-group mid well" style="padding-top:10px;padding-bottom:10px;height:40px">
		<input id="question" type="text" class="form-control" aria-label="..." value="{{this}}">
	</div>
	<div class='add-remove-answer'>
		<span class="glyphicon glyphicon-plus" style="float:left;"></span><span class="glyphicon glyphicon-minus" style="float:left;margin-left:5px;"></span>
	</div>
</div>