<button class='btn btn-default' id='closeResults'><span class="glyphicon glyphicon-remove" style="padding-right:2px;"></span> Close Results</button>
<div id="container-{{id}}" style="height: 300px"></div>