<div class='addQuestion quest' style='background-color:white'>
	<table class='table table-bordered table-condensed'>
	{{#each content}}
		<tr class='question-tr'>
			<td class='question-td' colspan='2'>
				{{this}}
			</td>
		</tr>
	{{/each}}
	</table>
</div>