<div class='addQuestion quest' style='background-color:white;padding-bottom:0px;'>
	<table class='table table-condensed' style='height:100%;table-layout:fixed'>
		<tr class='question-tr-sent-{{ this }}'>
			
		</tr>
		<tr class='answer-tr-sent'>
			<td class='answer-td-sent' colspan="2">
				<div class="viewButton" id="{{ this }}">
					<button class='btn btn-default' id='view'>View Results</button>
				</div>
				<div class='answers-{{ this }}'>
					<input type='hidden' value='hold'>
				</div>
			</td>
		</tr>
	</table>
</div>

